html ,
body {
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    /* background-color:#122a3f; */
    /* background-image:linear-gradient(to right ,rgb(24, 44, 59) ,rgb(18, 119, 156),rgb(79, 171, 205),
        rgb(16, 111, 145)
    ); */
    /* background-image: linear-gradient(to right, #1d4350, #a43931);
    background-image: url("src/assets/573701.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken; */
    /* background: radial-gradient(circle at top left, transparent 9%, #1a73e9 10%, #1a73e9 15%, transparent 16%), radial-gradient(circle at bottom left, transparent 9%, #1a73e9 10%, #1a73e9 15%, transparent 16%), radial-gradient(circle at top right, transparent 9%, #1a73e9 10%, #1a73e9 15%, transparent 16%), radial-gradient(circle at bottom right, transparent 9%, #1a73e9 10%, #1a73e9 15%, transparent 16%), radial-gradient(circle, transparent 25%, #ffd8dd 26%), linear-gradient(45deg, transparent 46%, #1a73e9 47%, #1a73e9 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #1a73e9 47%, #1a73e9 52%, transparent 53%);
        background-size: 5em 5em;
        background-color: #ffd8dd;
        opacity: 1 */
                /* margin-left: auto;
                margin-right: auto; */
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html,body {
    background: linear-gradient(270deg, #11315c, #2a121e);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

