html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f5fe;
    /* background-image:linear-gradient(to right ,rgb(24, 44, 59) ,rgb(18, 119, 156),rgb(79, 171, 205),
        rgb(16, 111, 145)
    ); */
}